<nav class="navbar navbar-default top-navbar" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse"
            data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand waves-effect waves-dark" href="/admin"><i
                class="large material-icons">track_changes</i> <strong>{{employeeUser.name}}</strong></a>

        <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
    </div>

    <ul class="nav navbar-top-links navbar-right">
        
        <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i
                    class="fa fa-user fa-fw"></i> <b>{{employeeUser.name}}</b> <i
                    class="material-icons right">arrow_drop_down</i></a></li>
        
    </ul>
</nav>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="/employee/profile"><i class="fa fa-user fa-fw"></i> My Profile</a>
    </li>
    <li><a href="/employee/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
    </li>
</ul>


<!--/. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a class=" waves-effect waves-dark" href="/employee"><i class="fa fa-dashboard"></i>
                    Dashboard</a>
            </li>
            <li>
                <a href="/employee/jobs" class="waves-effect waves-dark"><i class="fa fa-briefcase"></i>
                    Jobs</a>
            </li>
            <li>
                <a href="/employee/requests" class="waves-effect waves-dark"><i class="fa fa-plus"></i>
                   Resume Requests </a>
            </li>
             <li>
                <a href="/employee/approved" class="waves-effect waves-dark"><i class="fa fa-check"></i>
                   Approved Requests</a>
            </li>
        </ul>

    </div>

</nav>