<footer class="footer " style=" background:black;">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h6 class="text-danger text-left">Features</h6>
                <p class="text-secondary text-left">Nearby Jobs</p>
                <p class="text-secondary text-left">Filter By category</p>
                <p class="text-secondary text-left">Geniune Recuirters</p>
                <p class="text-secondary text-left">Trust</p>
            </div>
            <div class="col-md-5 ">
                <h6 class="text-danger text-left">Team</h6>
                <p class="text-secondary text-left">WellMade.Inc</p>
                <p class="text-secondary text-left">Mastro.Inc</p>
                <p class="text-secondary text-left">YoungWing.Inc</p>
                <p class="text-secondary text-left">Mock.inc</p>
            </div>
            <div class="col-md-2 ">
                <h6 class="text-danger text-left">About</h6>
                <p class="text-secondary text-left">Location</p>
                <p class="text-secondary text-left">About us</p>
                <p class="text-secondary text-left">Contact us</p>
                <p class="text-secondary text-left">Terms</p>
            </div>
           
        </div>
        <br>
        <br><br>
        <p class="text-secondary mr-5">© All right Reserved</p>
    </div>
    
</footer>