<footer class="footer " style=" background:black;">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h6 class="text-danger text-left">Features</h6>
                <a href="/jobs"><p class="text-secondary text-left">Jobs</p></a>
                <p class="text-secondary text-left">Filter By category and name</p>
                <a href="/employee"><p class="text-secondary text-left">Post Job</p></a>
                <p class="text-secondary text-left">Trust</p>
            </div>
            <div class="col-md-5 ">
                <h6 class="text-danger text-left">Team</h6>
                <p class="text-secondary text-left">Adarsh sathyan</p>
                <p class="text-secondary text-left">Firoz</p>
                <p class="text-secondary text-left">Aswin</p>
                <p class="text-secondary text-left">Shibin</p>
            </div>
            <div class="col-md-2 ">
                <h6 class="text-danger text-left">Pages</h6>
                <a href="/contact"><p class="text-secondary text-left">Contact us</p></a>
                <a href="/about"><p class="text-secondary text-left">About us</p></a>
                <a href="/"><p class="text-secondary text-left">Home</p></a>
                <a href="/login"><p class="text-secondary text-left">Login</p></a>
            </div>
           
        </div>
        <br>
        <br><br>
        <p class="text-secondary mr-5">© All right Reserved</p>
    </div>
    
</footer>