<!DOCTYPE html>
<html>

<head>
	<title>On Job</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	
	<!-- Custom Theme files -->
	<link rel="stylesheet" type="text/css" href="user/stylesheets/bootstrap.min.css">
	
	<link href="user/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="user/stylesheets/style.css">
	
	<!-- //Custom Theme files -->

	<!-- web font -->
	<link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
	<!-- //web font -->

</head>

<body>
{{>user-header}}
{{{body}}}

<!-- jQuery -->
    <script src="user/javascripts/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="user/javascripts/popper.js"></script>
    <script src="user/javascripts/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="user/javascripts/scrollreveal.min.js"></script>
    <script src="user/javascripts/waypoints.min.js"></script>
    <script src="user/javascripts/jquery.counterup.min.js"></script>
    <script src="user/javascripts/imgfix.min.js"></script> 
    <script src="user/javascripts/mixitup.js"></script> 
    <script src="user/javascripts/accordions.js"></script>
    
    <!-- Global Init -->
    <script src="user/javascripts/custom.js"></script>
    
</body>

</html>