{{#if admin}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="stylesheets/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="stylesheets/font-awesome.css" rel="stylesheet" />

    <!-- Custom Styles-->
    <link href="stylesheets/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="assets/js/Lightweight-Chart/cssCharts.css">
</head>

<body>
    
    {{>admin-header}}
    
    {{{body}}}
    <script src="javascripts/jquery-1.10.2.js"></script>

    <!-- Bootstrap Js -->
    <script src="javascripts/bootstrap.min.js"></script>

    <script src="materialize/js/materialize.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="javascripts/jquery.metisMenu.js"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script src="javascripts/dataTables/jquery.dataTables.js"></script>
    <script src="javascripts/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>

    <!-- Custom Js -->
    <script src="javascripts/custom-scripts.js"></script>


</body>

</html>
{{else if employee}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/admin/materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="/admin/stylesheets/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/admin/stylesheets/font-awesome.css" rel="stylesheet" />
    <link href="/admin/stylesheets/profile.css" rel="stylesheet" />   
    <link href="/employee/stylesheets/resume.css" rel="stylesheet" />   
    <!-- Custom Styles-->
    <link href="/admin/stylesheets/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="assets/js/Lightweight-Chart/cssCharts.css">
</head>

<body>
    
    {{>employee-header}}
    
    {{{body}}}

    <script src="https://kit.fontawesome.com/b99e6.js"></script>
    <script src="/admin/javascripts/jquery-1.10.2.js"></script>

    <!-- Bootstrap Js -->
    <script src="/admin/javascripts/bootstrap.min.js"></script>

    <script src="/admin/materialize/js/materialize.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="/admin/javascripts/jquery.metisMenu.js"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script src="/admin/javascripts/dataTables/jquery.dataTables.js"></script>
    <script src="/admin/javascripts/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>

    <!-- Custom Js -->
    <script src="/admin/javascripts/custom-scripts.js"></script>


</body>

</html>
{{/if}}