<section>
    <div id="page-wrapper">
        <div class="container" style="background-color: white;">
            <h3 class="text-center" style="margin-top: 2em; margin-bottom: 2em;">Add Job</h3>
            <form class=" mb-5" action="/employee/addjob" method="post" novalidate="novalidate" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-5">
                        <div class="col-md-12">
                            <label style="color: black;">Name of Company</label>
                            <input type="text" class="form-control " id="name" name="name" value=""
                                placeholder="Full name">
                        </div>
                        <div class="col-md-12 form-group ">
                            <label style="color: black;">Location</label>
                            <input type="text" class="form-control col-md" id="location" name="location" value=""
                                placeholder="Location">
                        </div>
                        <div class="col-md-12 form-group ">
                            <label style="color: black;">Designation</label>
                            <input type="text" class="form-control col-md" id="phone" name="designation" value=""
                                placeholder="Designation">
                        </div>
                        <div class="col-md-12 form-group ">
                            <label style="color: black;">Type</label>
                            <input type="text" class="form-control col-md" id="type" name="type" value=""
                                placeholder="Partime/Fulltime">
                        </div>
                        <div class="col-md-12 form-group ">
                            <label style="color: black;">Skills</label>
                            <input type="text" class="form-control col-md" id="skills" name="skills" value=""
                                placeholder="Skills">
                        </div>
                        <div class="col-md-12 form-group ">
                            <label style="color: black;">Qualification</label>
                            <input type="text" class="form-control col-md" id="qualification" name="qualification" value=""
                                placeholder="Qualification">
                        </div>
                        <div class="col-md-12 form-group ">
                            <label style="color: black;">Company Logo</label>
                            <input type="file"  id="logo" name="logo" value=""
                                placeholder="image">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12 form-group ">
                            <label style="color: black;">Experience Required</label>
                            <input type="text" class="form-control col-md" id="experience" name="experience" value=""
                                placeholder="Experience">
                        </div>
                        <div class="col-md-12 form-group ">
                            <label style="color: black;">Language Needed</label>
                            <input type="text" class="form-control" id="language" name="language" value=""
                                placeholder="Language">
                        </div>
                        <div class="col-md-12 form-group ">
                            <label style="color: black;">Pin Number</label>
                            <input type="text" class="form-control col-md" id="Pin" name="pin" value=""
                                placeholder="Pin">
                        </div>
                        <div class="col-md-12 form-group ">
                            <label style="color: black;">Description</label>
                                 <input type="text" class="form-control" id="Description" name="description" value=""
                                placeholder="Description">
                        </div>
                        <div class="col-md-12 form-group ">
                            <label style="color: black;">Salary</label>
                                 <input type="number" class="form-control" id="salary" name="salary" value=""
                                placeholder="salary"></textarea>
                        </div>
                        <div class="col-md-12 form-group ">
                            <label style="color: black;">Image</label>
                            <input type="file"  id="image" name="image" value=""
                                placeholder="image">
                                <input type="hidden"  name="eid" value="{{employeeUser._id}}">
                        </div>
                        
                         
                        <div class=" col-md-12 form-group " style="display: inline-flex;">
                            <button type="submit" value="submit" class="btn btn-success col-md-6">Submit</button>
                            <a href="/employee/jobs" class="btn btn-danger col-md-6"
                                style="margin-left: 10px;">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
            

            <br>
            <br>
        </div>
    </div>
</section>