<div class="">
	<div id="page-wrapper">
		<div class="header">
			<h1 class="page-header">
				Dashboard
			</h1>
			<ol class="breadcrumb">
				<li><a href="#">Dashboard</a></li>
				<li class="active">Data</li>
			</ol>

		</div>
		<div id="page-inner">

			<div class="dashboard-cards">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">

						<div class="card horizontal cardIcon waves-effect waves-dark">
							<div class="card-image" style="background-color: rgb(3, 65, 77);">
								<i class="material-icons dp48">import_export</i>
							</div>
							<div class="card-stacked" style="background-color: rgb(3, 65, 77);">
								<div class="card-content">
									<h3>84,198</h3>
								</div>
								<div class="card-action">
									<strong>REQUESTS</strong>
								</div>
							</div>
						</div>

					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">

						<div class="card horizontal cardIcon waves-effect waves-dark">
							<div class="card-image" style="background-color: black;">
								<i class="material-icons dp48">shopping_cart</i>
							</div>
							<div class="card-stacked" style="background-color: black;">
								<div class="card-content">
									<h3>36,540</h3>
								</div>
								<div class="card-action">
									<strong>TOTAL JOBS</strong>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">

						<div class="card horizontal cardIcon waves-effect waves-dark">
							<div class="card-image" style="background-color: rgb(23, 1, 119);">
								<i class="material-icons dp48">equalizer</i>
							</div>
							<div class="card-stacked" style="background-color: rgb(23, 1, 119);">
								<div class="card-content">
									<h3>24,225</h3>
								</div>
								<div class="card-action">
									<strong>APPROVED</strong>
								</div>
							</div>
						</div>

					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">

						<div class="card horizontal cardIcon waves-effect waves-dark">
							<div class="card-image" style="background-color: rgb(182, 6, 94);">
								<i class="material-icons dp48">supervisor_account</i>
							</div>
							<div class="card-stacked" style="background-color: rgb(182, 6, 94);">
								<div class="card-content">
									<h3>88,658</h3>
								</div>
								<div class="card-action">
									<strong>BLOCKED</strong>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- /. ROW  -->
		</div>
		<!-- /. PAGE INNER  -->
	</div>
	<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->