<div class="">
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                Select Payment
            </h1>

        </div>
        <div id="page-inner">
            <center>

                <div class="dashboard-cards">
                <div class="col-xs-12 col-sm-6 col-md-4">

                    <div class="card-stacked" style="background-color: rgb(253, 253, 253);">

                        <div class="card-action " style="color: rgb(0, 0, 0); text-align:center; ">
                            <h4>Select Option</h4>
                            <hr>
                            <div>
                                <a href="#" onclick="payment('{{jobId}}')"><img src="/user/images/razorpay.png" alt="" style="width:138px;height:101px; "></a>
                              
                            </div>
                           
                            <br><br>
                        </div>
                    </div>
                </div>
            
            </div>
            </center>
        </div>
    </div>
</div>
</div>
 