<!DOCTYPE html>
<html>

<head>
	<title>On Job</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Custom Theme files -->
	<link href="stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //Custom Theme files -->

	<!-- web font -->
	<link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
	<!-- //web font -->

</head>

<body>
	<!-- main -->
	<section>
		<div class="w3layouts-main">
			<div class="bg-layer">
				<h1>Log In</h1>
				<div class="header-main">
					<div class="main-icon">
						<span class="fa fa-eercast"></span>

					</div>
					<div class="header-left-bottom">
						<form action="/employee/phone" method="post">
							<div class="icon1">
								<span class="fa fa-phone"></span>
								<input type="tel" placeholder="Mobile with countrycode" required="" name="phone" />
							</div>

							<div class="bottom">
								<button class="btn">Send Code</button>
							</div>
							<div class="links">
								<p style="margin-left:102px ;"><a href="/employee/signup">Login by register</a></p>
								<div class="clear"></div>
							</div>
						</form>
					</div>
					<div class="social">
						<ul>
							<li> register using : </li>

							<li><a href="/employee/phone-signup" class="twitter"><span class="fa fa-phone"></span></a></li>

						</ul>
					</div>
				</div>

				<!-- copyright -->
				<footer>
					<p style="text-align: center; margin-top:34px; color:rgb(179, 178, 169)">
						Copyright © 2020 JobOn </a>
					</p>

				</footer>
				<!-- //copyright -->
			</div>
		</div>
	</section>


	<!-- //main -->

</body>

</html>