<div id="page-wrapper">

    <div class="header">
        <h1 class="page-header mb-5">
            Resume
        </h1>
    </div>
    <div id="page-inner">
        <div class="container">
            <embed src="/user/user-resumes/{{userdetail._id}}.pdf" type="application/pdf" title="Resume" style="width:800px; height:505px;">
        </div>
    </div>
</div>