<div class="main-banner" id="top">
    <img src="user/images/job-head.jpg" alt="">

    <div class="video-overlay header-text">
        <div class="caption">

            <h2>Find the perfect <em>Job</em></h2>
            <div class="main-button">
                <a href="contact.html">Contact Us</a>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<section>
    <div class="container" style="margin-top:140px ;">
        <div class="row">
            <div class="col-md-5">
                <div class="input-group">
                    <input id="table_filter" type="text" class="form-control"
                        aria-label="Text input with segmented button dropdown">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                class="label-icon">Category</span> <span class="caret">&nbsp;</span></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="category_filters">
                                <li>
                                    <input class="cat_type category-input" data-label="All" id="all" value=""
                                        name="radios" type="radio"><label for="all">All</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Design" value="Design"><label
                                        class="category-label" for="Design">Design</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Marketing" value="Marketing"><label
                                        class="category-label" for="Marketing">Marketing</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Programming" value="Programming"><label
                                        class="category-label" for="Programming">Programming</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Sales" value="Sales"><label
                                        class="category-label" for="Sales">Sales</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Support" value="Support"><label
                                        class="category-label" for="Support">Support</label>
                                </li>
                            </ul>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="input-group">
                    <input id="table_filter" type="text" class="form-control"
                        aria-label="Text input with segmented button dropdown">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                class="label-icon">Location</span> <span class="caret">&nbsp;</span></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="category_filters">
                                <li>
                                    <input class="cat_type category-input" data-label="All" id="all" value=""
                                        name="radios" type="radio"><label for="all">All</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Design" value="Design"><label
                                        class="category-label" for="Design">Design</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Marketing" value="Marketing"><label
                                        class="category-label" for="Marketing">Marketing</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Programming" value="Programming"><label
                                        class="category-label" for="Programming">Programming</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Sales" value="Sales"><label
                                        class="category-label" for="Sales">Sales</label>
                                </li>
                                <li>
                                    <input type="radio" name="radios" id="Support" value="Support"><label
                                        class="category-label" for="Support">Support</label>
                                </li>
                            </ul>
                        </div>
                       
                    </div>
                </div>
            </div>
            <button id="searchBtn" type="button" class="btn btn-danger btn-search" ><span class="glyphicon glyphicon-search" >&nbsp;</span> <span class="label-icon" >Search</span></button>
        </div>
    </div>
</section>


<!-- ***** Cars Starts ***** -->
<section class="section" id="trainers">
    <div class="container">
        <!--Blue select-->

        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Featured <em>Jobs</em></h2>
                    <img src="user/images/line-dec.png" alt="">
                    <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed viverra ipsum dolor, ultricies
                        fermentum massa consequat eu.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="user/images/product-1-720x480.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span> <sup>$</sup>70 000 </span>

                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                        <p>Medical &nbsp;/&nbsp; Health Jobs</p>

                        <ul class="social-icons">
                            <li><a href="job-details.html">+ View More</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="user/images/product-2-720x480.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span> <sup>$</sup>70 000 </span>

                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                        <p>Medical &nbsp;/&nbsp; Health Jobs</p>

                        <ul class="social-icons">
                            <li><a href="job-details.html">+ View More</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="user/images/product-3-720x480.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <span> <sup>$</sup>70 000 </span>

                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                        <p>Medical &nbsp;/&nbsp; Health Jobs</p>

                        <ul class="social-icons">
                            <li><a href="job-details.html">+ View More</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="main-button text-center">
            <a href="jobs.html">View Jobs</a>
        </div>
    </div>
</section>
<!-- ***** Cars Ends ***** -->

<section class="section section-bg" id="schedule"
    style="background-image: url(user/images/about-fullscreen-1-1920x700.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading dark-bg">
                    <h2>Read <em>About Us</em></h2>
                    <img src="user/images/line-dec.png" alt="">
                    <p>An online platform for jobrecuiters and job seekers. One can easily find jobs and also companys
                        can register here
                        with a small amount of registration fees.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Copyright © 2020 JobOn </a>
                </p>
            </div>
        </div>
    </div>
</footer>