<section class="section section-bg" id="call-to-action"
        style="background-image: url(user/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Our <em>Jobs</em></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->

    <!-- ***** Fleet Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <br>
            <br>

            <div class="row">
                <div class="col-lg-4">
                    <form action="#">
                        <h5 style="margin-bottom: 15px">Category</h5>

                        <div>
                            <label>
                                <input type="checkbox">
                                <span>Accounting & Finance(5)</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox">
                                <span>FrontEnd Development(5)</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox">
                                <span>Backend Development(7)</span>
                            </label>
                        </div>
                        <br>
                        <h5 style="margin-bottom: 15px">location</h5>
                        <div>
                            <label>
                                <input type="checkbox">
                                <span>Kerala</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox">

                                <span>Banglore</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox">
                                <span>Hyderabad</span>
                            </label>
                        </div>
                        <br>
                    </form>
                    <br>
                </div>

                <div class="col-lg-8">
                    <div class="row">
                        {{#each jobs}}
                        <div class="col-md-6">
                            <div class="trainer-item">
                                <div class="image-thumb">
                                    <img src="/employee/job_images/{{this._id}}.jpg" style="width: 353px; height:326px;" alt="">
                                </div>
                                <div class="down-content">
                                    <span> <sup>$</sup>{{this.salary}}</span>

                                    <h4>{{this.designation}}</h4>

                                    <!--<p>Medical &nbsp;/&nbsp; Health Jobs</p>-->

                                    <ul class="social-icons">
                                        <li><a href="/jobdetails/{{this._id}}">+ View More</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <br>

            <nav>
                <ul class="pagination pagination-lg justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </section>
    <!-- ***** Fleet Ends ***** -->


    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2020 JobOn
                        
                    </p>
                </div>
            </div>
        </div>
    </footer>